html, body {
	height: 100%;
	min-height: 100%;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Default styles for page elements*/

/* Fonts and colors */

body {
	font-family: 'Avenir', "Century Gothic", "sans-serif";
	color: rgba(0, 0, 0, 0.8);
	line-height: 1.5em;


}

h1, h2, h3, h4, h5, h6, header {
	font-family: 'Avenir', "Century Gothic", "sans-serif";
    font-weight: 100;
    letter-spacing: 1px;
}

footer a {
	color: rgba(0, 0, 0, 0.8);
}

a {
	color: #262626;
	font-size: 18px;
}

/* Positioning and margins */

@media (min-width: 1100px) {
	body {
		width: 1100px;
		margin: 0 auto;
	}
}

/* Footer */

footer {
	padding: 5px 15px;
	height: 120px;
}


/* Text styles and margins */

h1 {
	font-size: 36px;
	font-weight: 100;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 20px;
	font-weight: bold;
}

h5 {
	font-size: 18px;
	font-weight: bold;
}

h6 {
	font-weight: bold;
}

@media (max-width: 800px) {
  body.works_on_smartphone {
  	display: block;
  }

  body.works_on_smartphone main {
  	display: block;
  }

  header.socialBox {
  	float: none;
  }
}

/* image JS challenge */

img {
	max-width: 100%;
}

img.small {
	width: 100px;
	overflow: auto;
}

/*Special Styling*/

.bodyContainer{
	display: flex;
  	flex-direction: column;
  	background-color: #FFFFFF;
}

.headContainer{
	display: flex;
	flex-direction: row;
	min-width: 500px;
	background-color: rgba(245, 245, 245, 0.38);;
	box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.51);
}

.titleBox{
	flex: 1;
	min-width: 260px;
	margin: 35px 0px 0px 75px;
}
.titleBox h1{
	color: #4B584D;
	font-weight: 900;
	font-size: 38px;
	line-height: 32px;
	/*padding: 25px 0px 0px 75px;*/
}

.ulBox{
	flex: 1;
	list-style: none;
	min-width: 100px;
	margin-top: 30px;
}

.liFlex a {
	color: #696969;
	line-height: 0;
	font-weight: 400;
	text-decoration: none;
}

.imageBox{
	display: flex;
	flex-direction: column;
	flex: 1;
}

.headImg{
	margin-left: auto;
	margin-top: 5px;
	padding: 15px 35px 0px 0px;
}

.socialBox {
	display: flex;
	margin-left: auto;
	flex-direction: row;
	flex-flow: row wrap;
  }

.tweet{
	padding: 4px 5px 0px 0px;
}

.fb-share-button{
	padding: 0px 5px 2px 5px;
}

.mainContainer{
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	height: 100%;
}

.articleBox{
	flex: 2;
	min-width: 500px;
	background-color: rgba(247, 247, 247, 0.27);
  	margin-top: 1px;
 	margin-right: 1px;
  	overflow-y: scroll;
}

#smart_thumbnail{
	padding: 0px 82px 0px 65px;
}

.articleBox p{
	padding: 25px 75px 25px 75px;
	line-height: 1.7;
	overflow-y: scroll;
	text-align: justify;
}

.articleBox h3{
    padding: 20px 0px 0px 75px;
}

#articleTitle{
	padding: 50px 35px 35px 65px;
}

.articleBox ul{
	padding: 10px 0px 10px 100px;
}

#lastP{
	padding-bottom: 420px;
}

.sideBox{
	display: flex;
	flex-direction: column;
	flex: 1;
	background-color: rgba(247, 247, 247, 0.27);
  	margin-top: 1px;
  	margin-left: 1px;
  	overflow-y: scroll;
  	padding: 60px 20px 20px 20px;
}

.sideBox p{
	padding: 15px 15px 15px 15px;
}

.disqus_thread{
}

.footBox{
	background-color: #F5F5F5;
	padding: 15px 75px 0px 75px;
	margin-top: 2px;
	margin-bottom: 5px;
}
/*Git-Hub card styling*/

#gitBox{
	padding: 15px 15px 35px 15px;
}

/*styles for the sim page*/

.sim{
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: flex-start;
	overflow-y: scroll;
	background-color: rgba(247, 247, 247, 0.27);
}

#simHead{
	margin: 0 auto;
	padding: 25px 0px 30px 0px;
}

#msg{
	margin: 0 auto;
	padding: 25px 0px 10px 0px;
}
#textBox{
	margin: 0 auto;
	padding: 0px 0px 50px 0px;
}
.result{
	width: 75%;
	height: 120px;
	background-color: rgba(212, 212, 212, 0.15);;
	margin: 0 auto;
	/*padding: 0px 0px 40px 0px;*/
	/*box-shadow: 0px 0px 3px 0px;*/
	border-radius: 10px;
}

.result h3{
	text-align: center;
	vertical-align: middle;
	font-size: 32px;
	line-height: 1.5;
	font-weight: 500;
	/*margin: 0;*/
	/*padding-bottom: 55px;*/
}

#genNumCost{
	width: 75%;
	margin: 0 auto;
	display: flex;
	display:-webkit-flex
	flex-direction: row;
	padding-top: 5px;
}
#costDiv{
	flex: 1;
	/*background-color: rgba(252, 255, 232, 0.39);;*/
	align-self: flex-end;
	text-align: right;
}
#numOfGen{
	flex: 2;
	width: 100%;
	/*background-color: rgb(244, 253, 248);*/
	align-self: flex-start;
}
#run{
	display: flex;
	justify-content: center;
	/*background-color: rgb(107, 208, 120);*/
	background-color: rgb(169, 169, 169);
	font-style: italic;
	color: #4E4D4D;
	width: 20%;
	border-radius: 5px;
	box-shadow:  0px 1px 5px 0px;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 30px;
}
#run h3{
	padding: 25px 35px 25px 35px;
	margin: 0 auto;
}

#temp{
	padding: 0px 135px 0px 135px;
	text-align: justify;
}
